@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Home" asp-action="Index" method="get">
	<p>
		Search: <input type="text" name="searchString" />
		<input type="submit" value="Search" />
	</p>
	<div>
		<input type="radio" name="sortBy" id="Flights" value="Flights"
			   checked="@ViewData["Flights"]" />
		<label for="Flights">Flights</label>
		<input type="radio" name="sortBy" id="Hotels" value="Hotels"
			   checked="@ViewData["Hotels"]" />
		<label for="Hotels">Hotels</label>
		<input type="radio" name="sortBy" id="CarRentals" value="CarRentals"
			   checked="@ViewData["CarRentals"]" />
		<label for="CarRentals">CarRentals</label>
	</div>
</form>

@if (!string.IsNullOrEmpty(ViewData["ErrMsg"].ToString()))
{
	<p>@ViewData["ErrMsg"]</p>
}
else if (!string.IsNullOrEmpty(ViewData["NoInput"].ToString()))
{
	<p>@ViewData["NoInput"]</p>
}
