
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Booking Start
            </th>
            <th>
                Booking End
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.Title</td>
            </tr>
            <tr>
                <td>@booking.Description</td>
            </tr>
            <tr>
                <td>@booking.Price</td>
            </tr>
            <tr>
                <td>@booking.BookingStart.ToShortDateString()</td>
            </tr>
            <tr>
                <td>@booking.BookingEnd.ToShortDateString()</td>
            </tr>
        }

    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-area="" asp-action="Create">Book</a>
</p>