@model IEnumerable<WebDevGroupProject.Models.Hotel>

@{
    ViewBag.Title = "Hotels";
}

<h2>Hotels</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amenitites)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amenitites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.HotelId" class="btn btn-info">Details</a>
                <a asp-controller="Booking" asp-action="BookHotels" asp-route-id="@item.HotelId" class="btn btn-info">Book Hotel</a>
            </td>
        </tr>
    }

</table>

<a class="btn btn-primary" asp-area="" asp-controller="Hotel" asp-action="Create">Add a Hotel</a>