@model List<Car_Rental>
@{
	ViewData["Title"] = "Car_Rentals";
}

<h1>Car Rentals</h1>

<form asp-controller="Car_Rentals_" asp-action="Index" method="get">
    <p>
		Search: <input type="text" name="searchString" value="@ViewData["searchString"]" />
        <input type="submit" value="Filter" />
    </p>
    <div>
        <input type="radio" name="sortBy" id="CompanyName" value="CompanyName"
               checked="@ViewData["CompanyName"]" />
        <label for="CompanyName">CompanyName</label>
        <input type="radio" name="sortBy" id="Location" value="Location"
               checked="@ViewData["Location"]" />
        <label for="Location">Location</label>
        <input type="radio" name="sortBy" id="Model" value="Model"
               checked="@ViewData["Model"]" />
        <label for="Model">Model</label>
        <input type="radio" name="sortBy" id="Pricing" value="Pricing"
			   checked="@ViewData["Pricing"]" />
		<label for="Pricing">Pricing</label>
		<input type="radio" name="sortBy" id="Availability" value="Availability"
			   checked="@ViewData["Availability"]" />
		<label for="Availability">Availability</label>
    </div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>Company Name</th>
			<th>Location</th>
			<th>Model</th>
			<th>Pricing</th>
			<th>Availability</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var project in Model)
		{
			<tr>
				<td>@project.CompanyName</td>
				<td>@project.Location</td>
				<td>@project.Model</td>
				<td>@project.Pricing</td>
				<td>@project.Availability</td>
				<td>
					<a asp-action="Details" asp-route-id="@project.RentalsId" class="btn btn-info">Details</a>
					<a asp-controller="Booking" asp-action="BookCar" asp-route-id="@project.RentalsId" class="btn btn-warning">Book</a>
				</td>
			</tr>
		}
	</tbody>
</table>