@model IEnumerable<WebDevGroupProject.Models.Flights>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Airlines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prices)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Airlines)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prices)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.FlightId">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.FlightId">Details</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.FlightId">Delete</a>
                    <a class="btn btn-primary" asp-area="" asp-controller="Booking" asp-action="Create" asp-route-flightId="@item.FlightId">Book</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-area="" asp-action="Create">Add a Flight</a>
</p>